In [1669]:
import pandas as pd
import numpy as np
import datetime

In [1692]:
base_sistema = pd.read_csv("BASE_SDE_TP_29102019.csv", error_bad_lines=False, sep =";")

C:\Users\jcastro.CNCCOL\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3,5,6,10,11,17,24,26,54,67,106,114,122,131,144,146,161,164,165) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [1671]:
base_muestra= pd.read_excel("Muestra Alumnos.xlsx")

In [1672]:
base_muestra.columns

Index(['NUMEROLOCALIDAD', 'NOMBRELOCALIDAD', 'CLASE', 'DANE12',
       'NOMBREESTABLECIMIENTOEDUCATIVO', 'CONSECUTIVOSEDE', 'SEDEEDUCATIVA',
       'NOMBRESEDEEDUCATIVA', 'DIRECCIÓNSEDEEDUCATIVA', 'TIPODOCUMENTO',
       'Expr1010', 'TIPODOCUMENTODESCRIPCION', 'NUMERODOCUMENTO', 'APELLIDO1',
       'APELLIDO2', 'NOMBRE1', 'NOMBRE2', 'DIRECCIONRESIDENCIA', 'ESTRATO',
       'SISBEN', 'FECHANACIMIENTO', 'GENERO', 'POB_VICT_CONF',
       'POB_VICT_CONFDESCRIPCION', 'Expr1024', 'PROVIENE_SECTOR_PRIV',
       'PROVIENE_OTR_MUN', 'TIPODISCAPACIDADDESCRIPCION', 'ETNIA',
       'DESCRIPCIONETNIA', 'RES', 'TIPOJORNADA', 'JORNADAEDUCATIVA', 'GRADO',
       'GRUPO', 'MATRICULACONTRATADA', 'REPITENTE', 'NUEVO', 'ZON_ALU',
       'CAB_FAMILIA', 'Expr1040', 'BEN_MAD_FLIA', 'PER_ID', 'PAIS_ORIGEN',
       'PAIS_ORIGEN_A', 'Llave'],
      dtype='object')

In [1693]:
base_sistema["PER_ID"]= pd.to_numeric(base_sistema['PER_ID'], errors = 'raise')

In [1694]:
base_muestra["PER_ID"]= pd.to_numeric(base_muestra['PER_ID'], errors = 'raise')

In [ ]:
base_colegios = base_sistema.merge(base_muestra, left_on="PER_ID", right_on= 'PER_ID', how= 'left' )

In [ ]:
len(base_colegios)

In [ ]:
len(base_sistema)

In [ ]:
reportado = pd.get_dummies(base_colegios['reportado'])
base_colegios = pd.concat([base_colegios, reportado], axis=1)

In [ ]:
def convert_fecha(x):
    if x != '0000-00-00 00:00:00':
        try:
            date_time_obj = datetime.datetime.strptime(x, '%d/%m/%Y %H:%M')
            return date_time_obj
        except TypeError:
            return x        
    else:
        return datetime.datetime(2019, 8, 29)  
base_colegios['fecha_realizacion'] = base_colegios['fecha_realizacion'].map(convert_fecha)

In [ ]:
def tomar_solo_fechas(x):
    if x is not np.nan:
        a = x.date()
        return a
    else:
        x

base_colegios['fecha_realizacion_2'] = base_colegios['fecha_realizacion'].map(tomar_solo_fechas)

In [ ]:
base_colegios.drop_duplicates(subset =["PER_ID", 'fecha_realizacion_2' ], 
                     keep = 'first', inplace = True)

In [ ]:
base_colegios = base_colegios[['PER_ID', 'CONSECUTIVOSEDE', 'NOMBREESTABLECIMIENTOEDUCATIVO', 'NOMBRESEDEEDUCATIVA', 1.0,  2.0,
                                    3.0, 4.0, 'fecha_realizacion', 'fecha_realizacion_2' ]]

In [ ]:
#def fechas_a_string(x):
#    if x is not pd.NaT:
#        a = x.strftime('%Y/%m/%d')
#        return a
#    else:
#        x

#base_colegios['fecha_realizacion_2'] = base_colegios['fecha_realizacion_2'].map(fechas_a_string)

In [ ]:
#base_colegios.to_excel('Tabla colegio 29-10-2019.xlsx')

In [ ]:
#base_colegios = pd.read_excel('Tabla colegio 25-10-2019.xlsx')

In [ ]:
#base_colegios.head()

In [ ]:
#type(base_colegios.fecha_realizacion_2 [0])

In [ ]:
#base_colegios['fecha_realizacion_2'][0]

In [ ]:
#base_colegios=base_colegios.drop(columns=['PER_ID'])
#base_colegios.head(1)

In [ ]:
#base_colegios2= base_colegios.groupby(["CONSECUTIVOSEDE", 'fecha_realizacion_2']).sum()

In [ ]:
#base_colegios2

# Eliminar encuestas duplicadas - se deja la última

In [1695]:
base_sistema.head()

,DANE_ANTERIOR,TIPO_JORNADA,NTIPO_JORNADA,GRADO,NUGRADO,GRUPO,tel_sede,comp_sed,nom_doc,ema_doc,tel_doc,cel_doc,res_dig,res_med,PER_ID,NRO_DOCUMENTO,FECHA_NACIMIENTO,codigo_estudiante,APELLIDO1,APELLIDO2,NOMBRE1,NOMBRE2,GENERO,ESTRATO,peso1,peso2,peso3,talla1,talla2,talla3,cintura1,cintura2,cintura3,ETNIA,POB_VICT_CONF,TIPO_DISCAPACIDAD,fecha_me,gestante,semanas,meses,fecha_realizacion,reportado,estado,observacion,fecha_up,usuario,p4_1,p4_2,p4_3,p4_4,p4_5,p4_6,p4_7,p5,p5_cual,p6_1,p6_2,p6_3,p6_4,p7,p8,p9_1,p9_2,p9_3,p9_4,p9_77,p9_99,p9_77_cual,p10,p11,p12_1,p12_2,p12_3,p13_1,p13_2,p13_3,p14,p15,p16,p17,p18,p19,p20,p21,p22_1,p22_2,p22_3,p22_4,p22_5,p22_6,p22_7,p22_8,p22_9,p22_10,p22_11,p22_12,p22_13,p23_1,p23_2,p23_3,p23_4,p23_5,p23_6,p23_7,p23_77,p23_99,p23_77_cual,p24_1,p24_2,p24_3,p24_4,p24_5,p24_6,p25,p25_cual,p26_1,p26_2,p26_3,p26_4,p26_5,p26_6,p26_7,p27,p28_1,p28_2,p28_3,p28_4,p28_5,p28_6,p28_7,p28_77,p28_77_cual,p29_1,p29_2,p29_3,p29_4,p29_5,p29_6,p29_7,p29_77,p30,p31,p32,p33,p33_cual,p34,p34_cual,p35,p35_cual,p36,p37,p38,p39,p40_1,p40_2,p40_3,p40_4,p40_5,p40_6,p40_7,p40_77,p40_77_cual,p41,p42,p43,p44
0,"3,11E+11",TARDE,3,NaN,9,901,8033050,2.0,Jennifer Soto,jennifersoto93@gmail.com,8033050,3123110950,Maria Leon,Viviana Paz,18867769,1006006622,8/06/2001,NaN,RODRIGUEZ,NaN,JOHAN,FELIPE,M,1.0,670.000,670.000,0.0000,1.674.000,1.675.000,0.0000,NaN,NaN,NaN,0.0,99.0,NaN,NaN,NaN,NaN,NaN,13/09/2019 12:42,3,3,NaN,10/10/2019 15:22,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,11E+11",MAÑANA,2,NaN,10,1002,7367836,2.0,Ernesto Cortes,ernestocortes7@hotmail.com,7367836,3014836086,Maria Leon,Viviana Paz,21398256,1001546058,15/11/2002,NaN,VENTE,DAVID,YULISI,VANESSA,F,2.0,496.000,497.000,0.0000,1.550.000,1.553.000,0.0000,NaN,NaN,NaN,0.0,1.0,NaN,NaN,undefined,NaN,NaN,18/09/2019 9:54,3,3,NaN,10/10/2019 15:22,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1,11E+11",MAÑANA,2,NaN,9,901,7661134,2.0,Pilar Suarez,mabelriosp@hotmail.com,7367836,3014613651,Maria Leon,Viviana Paz,24630662,1013096175,6/10/2003,NaN,MIRANDA,DE LA HOZ,ROBERTO,CARLOS,M,1.0,519.000,519.000,0.0000,1.655.000,1.655.000,0.0000,NaN,NaN,NaN,0.0,99.0,NaN,NaN,NaN,NaN,NaN,4/09/2019 11:27,3,3,NaN,10/10/2019 15:22,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,11E+11",MAÑANA,2,NaN,9,902,7367836,2.0,Johnny Alberto Martinez,turbomilitar@gmail.com,7367836,3123110950,Maria Leon,Viviana Paz,25012541,1089382841,29/04/2003,NaN,MORENO,OSORIO,LAURA,MELISSA,F,1.0,520.000,520.000,0.0000,1.530.000,1.530.000,0.0000,NaN,NaN,NaN,0.0,99.0,NaN,NaN,undefined,NaN,NaN,25/09/2019 8:55,3,3,NaN,10/10/2019 15:22,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1,11E+11",MAÑANA,2,NaN,9,901,3676321,2.0,Rene Gomez,Da68gomez@gmail.com,3676321,3102345678,Maria Leon,Viviana Paz,25357922,1000935093,27/05/2001,NaN,MUÑOZ,ROBAYO,DAVID,STEVEN,M,2.0,446.000,447.000,0.0000,1.630.000,1.630.000,0.0000,NaN,NaN,NaN,0.0,99.0,NaN,NaN,NaN,NaN,NaN,9/09/2019 8:33,3,3,NaN,10/10/2019 15:22,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1696]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_seq_items', 500)
base_sistema.columns

Index(['DANE_ANTERIOR', 'TIPO_JORNADA', 'NTIPO_JORNADA', 'GRADO', 'NUGRADO',
       'GRUPO', 'tel_sede', 'comp_sed', 'nom_doc', 'ema_doc', 'tel_doc',
       'cel_doc', 'res_dig', 'res_med', 'PER_ID', 'NRO_DOCUMENTO',
       'FECHA_NACIMIENTO', 'codigo_estudiante', 'APELLIDO1', 'APELLIDO2',
       'NOMBRE1', 'NOMBRE2', 'GENERO', 'ESTRATO', 'peso1', 'peso2', 'peso3',
       'talla1', 'talla2', 'talla3', 'cintura1', 'cintura2', 'cintura3',
       'ETNIA', 'POB_VICT_CONF', 'TIPO_DISCAPACIDAD', 'fecha_me', 'gestante',
       'semanas', 'meses', 'fecha_realizacion', 'reportado', 'estado',
       'observacion', 'fecha_up', 'usuario', 'p4_1', 'p4_2', 'p4_3', 'p4_4',
       'p4_5', 'p4_6', 'p4_7', 'p5', 'p5_cual', 'p6_1', 'p6_2', 'p6_3', 'p6_4',
       'p7', 'p8', 'p9_1', 'p9_2', 'p9_3', 'p9_4', 'p9_77', 'p9_99',
       'p9_77_cual', 'p10', 'p11', 'p12_1', 'p12_2', 'p12_3', 'p13_1', 'p13_2',
       'p13_3', 'p14', 'p15', 'p16', 'p17', 'p18', 'p19', 'p20', 'p21',
       'p22_1', 'p22_2', 'p22_3', 'p22_4', 'p22_5', 'p22_6', 'p22_7', 'p22_8',
       'p22_9', 'p22_10', 'p22_11', 'p22_12', 'p22_13', 'p23_1', 'p23_2',
       'p23_3', 'p23_4', 'p23_5', 'p23_6', 'p23_7', 'p23_77', 'p23_99',
       'p23_77_cual', 'p24_1', 'p24_2', 'p24_3', 'p24_4', 'p24_5', 'p24_6',
       'p25', 'p25_cual', 'p26_1', 'p26_2', 'p26_3', 'p26_4', 'p26_5', 'p26_6',
       'p26_7', 'p27', 'p28_1', 'p28_2', 'p28_3', 'p28_4', 'p28_5', 'p28_6',
       'p28_7', 'p28_77', 'p28_77_cual', 'p29_1', 'p29_2', 'p29_3', 'p29_4',
       'p29_5', 'p29_6', 'p29_7', 'p29_77', 'p30', 'p31', 'p32', 'p33',
       'p33_cual', 'p34', 'p34_cual', 'p35', 'p35_cual', 'p36', 'p37', 'p38',
       'p39', 'p40_1', 'p40_2', 'p40_3', 'p40_4', 'p40_5', 'p40_6', 'p40_7',
       'p40_77', 'p40_77_cual', 'p41', 'p42', 'p43', 'p44'],
      dtype='object')

In [1703]:
len(base_sistema)

137346

In [1698]:
#base_sistema["PER_ID"] = base_sistema["PER_ID"].str.replace('.', '')

In [1699]:
base_sistema.sort_values(['PER_ID','reportado', 'fecha_realizacion'], inplace = True, ascending = True, na_position='first')

In [1702]:
base_sistema.drop_duplicates(subset ="PER_ID", 
                     keep = 'last', inplace = True)

In [1701]:
base_sistema[['PER_ID','reportado', 'fecha_realizacion']].head()

       PER_ID  reportado fecha_realizacion
1493    54321          3  27/08/2019 13:55
60211   54322          3  27/08/2019 14:09
77262   54323          3   26/08/2019 8:42
78850   54324          3  26/08/2019 13:35
88282   54325          3  26/08/2019 16:20

In [1704]:
base_sistema= base_sistema.drop(columns=['cintura1', 'cintura2', 'cintura3'])

In [1705]:
#base_sistema.to_excel("Base_ordenada.xlsx")

In [1706]:
columns= ['peso1', 'peso2', 'peso3','talla1', 'talla2', 'talla3']

In [1707]:
len(base_sistema)

137346

In [1708]:
for i in columns:
    base_sistema[i] = base_sistema[i].astype(str).str.replace('.', '')

In [1709]:
columns1= ['peso1', 'peso2', 'peso3']
for i in columns1:
    base_sistema[i].astype(np.float32)

In [1710]:
#for i in base_sistema.index:
#    talla = base_sistema.loc[i, 'talla1']
#    if talla == np.nan:
#        continue
#    else:
#        a = talla[0:3] + ',' + talla[3:]
#        b = talla[0:2] + ',' + talla[2:]
#        if talla[0][0] != 1 or talla[0][0] != 2:
#            base_sistema.loc[i, 'talla1'] = b
#        else:
#            base_sistema.loc[i, 'talla1'] = a

In [1711]:
def convert_weight(x):
    if x is not np.nan:
        x = int(x)
        a = x/(10000)
        return a
    return x
base_sistema['peso1'] = base_sistema['peso1'].map(convert_weight)
base_sistema['peso2'] = base_sistema['peso2'].map(convert_weight)
base_sistema['peso3'] = base_sistema['peso3'].map(convert_weight)

In [1714]:
base_sistema[base_sistema['PER_ID']==72878844]['talla1']

90227    200.0
Name: talla1, dtype: float64

In [1713]:
def convert_talla(x):
    if x is not np.nan:
        a = float(x[0:2] + '.' + x[2:5].strip())
        b = float(x[0:3] + '.' + x[3:5].strip())
        if int(x[0]) > 2 :
            return a
        else:
            return b
    return x

base_sistema['talla1'] = base_sistema['talla1'].map(convert_talla)
base_sistema['talla2'] = base_sistema['talla2'].map(convert_talla)
base_sistema['talla3'] = base_sistema['talla3'].map(convert_talla)

In [1717]:
base_sistema['reportado'].value_counts()

3    120249
1     12476
2      4277
4       344
Name: reportado, dtype: int64

In [1716]:
base_sistema['sum_talla_peso'] = base_sistema[['talla1', 'talla2', 'talla3','peso1', 'peso2', 'peso3']].sum(axis=1)

base_sistema.loc[(base_sistema['sum_talla_peso'] ==0) & (base_sistema['reportado'] ==3) , 'reportado'] =1

In [1718]:
base_sistema['reportado'].value_counts()

3    120249
1     12476
2      4277
4       344
Name: reportado, dtype: int64

In [1719]:
len(base_sistema)

137346

In [1720]:
def convert_fecha(x):
    if x != '0000-00-00 00:00:00':
        try:
            date_time_obj = datetime.datetime.strptime(x, '%d/%m/%Y %H:%M')
            return date_time_obj
        except TypeError:
            return x        
    else:
        return datetime.datetime(2019, 8, 29)  
base_sistema['fecha_realizacion'] = base_sistema['fecha_realizacion'].map(convert_fecha)

In [1721]:
base_sistema['fecha_realizacion'] [0]

Timestamp('2019-09-13 12:42:00')

In [1722]:
x = datetime.datetime(2019, 7, 30)
y = datetime.datetime(2019, 8, 29)
base_sistema.loc[(base_sistema['fecha_realizacion'] < x) , 'fecha_realizacion'] =y

In [1723]:
base_sistema['FECHA_NACIMIENTO' ] [89678]

'19/12/2003'

In [1724]:
def convert_fecha_naci(x):
    if x is not np.nan:
        try:
            date_time_obj = datetime.datetime.strptime(x, '%d/%m/%Y')
            return date_time_obj
        except TypeError:
            return x
    else:
        return x
base_sistema['FECHA_NACIMIENTO'] = base_sistema['FECHA_NACIMIENTO'].map(convert_fecha_naci)

In [1725]:
z = datetime.datetime(1986, 1, 1)
y = datetime.datetime(2017, 1, 1)
def replace_fecha(row):
    h = row.loc['PER_ID']
    x = row.loc['FECHA_NACIMIENTO']
    if x < z:
        try:
            a = base_muestra[base_muestra["PER_ID"].isin([h])]['FECHANACIMIENTO'].iloc[0]
            return a
        except IndexError:
                return x   
    elif x > y:
        try:
            a = base_muestra[base_muestra["PER_ID"].isin([h])]['FECHANACIMIENTO'].iloc[0]
            return a
        except IndexError:
                return x
    else:
        return x
base_sistema['FECHA_NACIMIENTO'] = base_sistema.apply(replace_fecha, axis=1)

In [1726]:
base_sistema[base_sistema["PER_ID"].isin([62499671])]['FECHA_NACIMIENTO']

40069   2002-01-24
Name: FECHA_NACIMIENTO, dtype: datetime64[ns]

In [1727]:
type(base_muestra["PER_ID"][0])

numpy.int64

In [1735]:
base_muestra["PER_ID"].isna().sum()

0

In [1736]:
base_muestraf = base_muestra[[ 'CONSECUTIVOSEDE', 'DANE12', 'NOMBRESEDEEDUCATIVA',  'NOMBREESTABLECIMIENTOEDUCATIVO', 'TIPODOCUMENTO', 'TIPODOCUMENTODESCRIPCION', 'NUMERODOCUMENTO', 'APELLIDO1',
       'PER_ID', 'GRADO', 'GRUPO', 'FECHANACIMIENTO' ]]

In [1737]:
base_unida = base_sistema.merge(base_muestraf, left_on="PER_ID", right_on= 'PER_ID', how= 'outer')

In [1738]:
len(base_unida)

151248

In [1739]:
base_unida.drop_duplicates(subset ="PER_ID", 
                     keep = 'last', inplace = True)

In [1740]:
len(base_unida)

150932

In [1623]:
#for i in base_unida.index: 
 #   id_per = base_unida.loc[i, 'PER_ID']
    # pdb.set_trace()
  #  if any(base_sexo["PER_ID"].isin([id_per])):
        #pdb.set_trace()
   #     sexo = base_sexo[base_sexo["PER_ID"].isin([id_per])]['GENERO'].iloc[0]
    #    base_unida.loc[(base_unida["PER_ID"]==id_per), 'GENERO'] = sexo

In [1624]:
#for i in base_unida.index:
 #   a = base_unida[base_unida["PER_ID"].isin([h])]['FECHANACIMIENTO'].iloc[0]

In [1741]:
base_unida["FECHA_NACIMIENTO"].head()

0          NaT
1   2019-08-27
2          NaT
3   2008-07-17
4   2013-02-05
Name: FECHA_NACIMIENTO, dtype: datetime64[ns]

In [1742]:
base_sexo = pd.read_excel('Sexo correcto.xlsx', sheet_name='24')

In [1743]:
base_sexo.PER_ID = base_sexo.PER_ID.astype('float64')
base_unida.PER_ID.dtype

dtype('int64')

In [1744]:
#def replace_sexo(row):
#    h = row.loc['PER_ID']
#    x = row.loc['GENERO']
#    if any(base_sexo["PER_ID"].isin([h])):
#        try:
#            sexo = base_sexo[base_sexo["PER_ID"].isin([h])]['GENERO'].iloc[0]
#            return sexo
#        except IndexError:
#                return x   
#    else:
#        return x
#base_unida['GENERO'] = base_unida.apply(replace_sexo, axis=1)

In [1745]:
base_unida[base_unida['PER_ID']==61691038]['GENERO'].iloc[0]

'F'

In [1746]:
base_unida.reportado.value_counts()

3.0    120249
1.0     12476
2.0      4277
4.0       344
Name: reportado, dtype: int64

In [1747]:
base_unida['Promedio peso'] = base_unida[['peso1', 'peso2', 'peso3']].mean(axis=1)
base_unida['Promedio talla'] = base_unida[['talla1', 'talla2', 'talla3']].mean(axis=1)

In [1748]:
#base_sistema.to_excel('Base Sistema.xlsx')

In [1749]:
base_unida['FECHANACIMIENTO_MUESTRA']= base_unida['FECHANACIMIENTO']

In [1750]:
base_unida = base_unida[[ 'PER_ID', 'DANE12', 'TIPO_JORNADA', 'NTIPO_JORNADA', 'NUGRADO',
       'GRUPO_x', 'tel_sede', 'comp_sed', 'nom_doc', 'ema_doc', 'tel_doc',
       'cel_doc', 'res_dig', 'res_med', 'NRO_DOCUMENTO',
       'FECHA_NACIMIENTO', 'FECHANACIMIENTO_MUESTRA', 'codigo_estudiante', 'APELLIDO1_x', 'APELLIDO2',
       'NOMBRE1', 'NOMBRE2', 'GENERO', 'ESTRATO', 'peso1', 'peso2', 'peso3', 'Promedio peso',
       'talla1', 'talla2', 'talla3', 'Promedio talla', 'ETNIA', 'POB_VICT_CONF',
       'TIPO_DISCAPACIDAD', 'fecha_me', 'gestante', 'semanas', 'meses',
       'fecha_realizacion', 'reportado', 'estado', 'observacion', 'fecha_up',
       'usuario','sum_talla_peso', 'CONSECUTIVOSEDE', 'NOMBRESEDEEDUCATIVA', 'NOMBREESTABLECIMIENTOEDUCATIVO', 
       'TIPODOCUMENTO', 'TIPODOCUMENTODESCRIPCION', 'NUMERODOCUMENTO',
       'APELLIDO1_y', 'GRADO_y', 'GRUPO_y', 'p4_1', 'p4_2', 'p4_3', 'p4_4', 'p4_5', 'p4_6', 'p4_7', 'p5',
       'p5_cual', 'p6_1', 'p6_2', 'p6_3', 'p6_4', 'p7', 'p8', 'p9_1', 'p9_2',
       'p9_3', 'p9_4', 'p9_77', 'p9_99', 'p9_77_cual', 'p10', 'p11', 'p12_1',
       'p12_2', 'p12_3', 'p13_1', 'p13_2', 'p13_3', 'p14', 'p15', 'p16', 'p17',
       'p18', 'p19', 'p20', 'p21', 'p22_1', 'p22_2', 'p22_3', 'p22_4', 'p22_5',
       'p22_6', 'p22_7', 'p22_8', 'p22_9', 'p22_10', 'p22_11', 'p22_12',
       'p22_13', 'p23_1', 'p23_2', 'p23_3', 'p23_4', 'p23_5', 'p23_6', 'p23_7',
       'p23_77', 'p23_99', 'p23_77_cual', 'p24_1', 'p24_2', 'p24_3', 'p24_4',
       'p24_5', 'p24_6', 'p25', 'p25_cual', 'p26_1', 'p26_2', 'p26_3', 'p26_4',
       'p26_5', 'p26_6', 'p26_7', 'p27', 'p28_1', 'p28_2', 'p28_3', 'p28_4',
       'p28_5', 'p28_6', 'p28_7', 'p28_77', 'p28_77_cual', 'p29_1', 'p29_2',
       'p29_3', 'p29_4', 'p29_5', 'p29_6', 'p29_7', 'p29_77', 'p30', 'p31',
       'p32', 'p33', 'p33_cual', 'p34', 'p34_cual', 'p35', 'p35_cual', 'p36',
       'p37', 'p38', 'p39', 'p40_1', 'p40_2', 'p40_3', 'p40_4', 'p40_5',
       'p40_6', 'p40_7', 'p40_77', 'p40_77_cual', 'p41', 'p42', 'p43', 'p44',]]

In [1751]:
base_unida['reportado'].value_counts()

3.0    120249
1.0     12476
2.0      4277
4.0       344
Name: reportado, dtype: int64

In [1752]:
base_unida['reportado']= base_unida['reportado'].fillna(0)

In [1753]:
len(base_unida)

150932

In [1754]:
#reportado = pd.get_dummies(base_unida['reportado'])
#base_colegios = pd.concat([base_unida, reportado], axis=1)

In [1755]:
#def tomar_solo_fechas(x):
#    if x is not np.nan:
#        a = x.date()
#        return a
#    else:
#        x

#base_colegios['fecha_realizacion_2'] = base_colegios['fecha_realizacion'].map(tomar_solo_fechas)

In [1756]:
#type(base_colegios["fecha_realizacion_2"][0])

In [1757]:
#base_colegios[["fecha_realizacion_2", 'fecha_realizacion'] ]

In [1758]:
#base_colegios =base_colegios.set_index(['CONSECUTIVOSEDE', "fecha_realizacion_2"])
#base_colegios
#base_colegios.index = pd.to_datetime(base_colegios.index)

In [1759]:
#base_colegios.head()

In [1760]:
#def fechas_a_string(x):
#    if x is not pd.NaT:
#        a = x.strftime('%Y/%m/%d')
#        return a
#    else:
#        x

#base_colegios['fecha_realizacion_2'] = base_colegios['fecha_realizacion_2'].map(fechas_a_string)

In [1761]:
#base_colegios['fecha_realizacion_2'] = base_colegios['fecha_realizacion_2'].str.replace(" ", "")

In [1762]:
#base_colegios= base_colegios.groupby(["CONSECUTIVOSEDE", pd.Grouper(key='fecha_realizacion_2')])[[0.0, 1.0 , 2.0, 3.0, 4.0 ]].sum()

In [1763]:
#base_colegios= base_colegios.pivot_table(index=['CONSECUTIVOSEDE', "fecha_realizacion_2"],columns='reportado',aggfunc=sum)

In [1764]:
#base_colegios = base_colegios[['PER_ID', 'CONSECUTIVOSEDE', 'NOMBRESEDEEDUCATIVA', 0.0, 1.0,  2.0,
 #                                   3.0, 4.0, 'fecha_realizacion', 'fecha_realizacion_2' ]]

In [1765]:
#base_jardin = pd.read_excel("Base Niños y Niñas IED faltan por Tomas.xlsx")

In [1766]:
#base_jardin = base_jardin[['No. ID', 'Estan']]

In [1767]:
#len(base_colegios)

138473

In [1768]:
#len(base_jardin)

725

In [1769]:
#base_jardin['Niños de jardín'] = base_jardin['Estan']

In [1770]:
#type(base_jardin['No. ID'][0])

numpy.int64

In [1771]:
#type(base_unida['NRO_DOCUMENTO'][0])

float

In [1772]:
base_unida.columns

Index(['PER_ID', 'DANE12', 'TIPO_JORNADA', 'NTIPO_JORNADA', 'NUGRADO',
       'GRUPO_x', 'tel_sede', 'comp_sed', 'nom_doc', 'ema_doc', 'tel_doc',
       'cel_doc', 'res_dig', 'res_med', 'NRO_DOCUMENTO', 'FECHA_NACIMIENTO',
       'FECHANACIMIENTO_MUESTRA', 'codigo_estudiante', 'APELLIDO1_x',
       'APELLIDO2', 'NOMBRE1', 'NOMBRE2', 'GENERO', 'ESTRATO', 'peso1',
       'peso2', 'peso3', 'Promedio peso', 'talla1', 'talla2', 'talla3',
       'Promedio talla', 'ETNIA', 'POB_VICT_CONF', 'TIPO_DISCAPACIDAD',
       'fecha_me', 'gestante', 'semanas', 'meses', 'fecha_realizacion',
       'reportado', 'estado', 'observacion', 'fecha_up', 'usuario',
       'sum_talla_peso', 'CONSECUTIVOSEDE', 'NOMBRESEDEEDUCATIVA',
       'NOMBREESTABLECIMIENTOEDUCATIVO', 'TIPODOCUMENTO',
       'TIPODOCUMENTODESCRIPCION', 'NUMERODOCUMENTO', 'APELLIDO1_y', 'GRADO_y',
       'GRUPO_y', 'p4_1', 'p4_2', 'p4_3', 'p4_4', 'p4_5', 'p4_6', 'p4_7', 'p5',
       'p5_cual', 'p6_1', 'p6_2', 'p6_3', 'p6_4', 'p7', 'p8', 'p9_1', 'p9_2',
       'p9_3', 'p9_4', 'p9_77', 'p9_99', 'p9_77_cual', 'p10', 'p11', 'p12_1',
       'p12_2', 'p12_3', 'p13_1', 'p13_2', 'p13_3', 'p14', 'p15', 'p16', 'p17',
       'p18', 'p19', 'p20', 'p21', 'p22_1', 'p22_2', 'p22_3', 'p22_4', 'p22_5',
       'p22_6', 'p22_7', 'p22_8', 'p22_9', 'p22_10', 'p22_11', 'p22_12',
       'p22_13', 'p23_1', 'p23_2', 'p23_3', 'p23_4', 'p23_5', 'p23_6', 'p23_7',
       'p23_77', 'p23_99', 'p23_77_cual', 'p24_1', 'p24_2', 'p24_3', 'p24_4',
       'p24_5', 'p24_6', 'p25', 'p25_cual', 'p26_1', 'p26_2', 'p26_3', 'p26_4',
       'p26_5', 'p26_6', 'p26_7', 'p27', 'p28_1', 'p28_2', 'p28_3', 'p28_4',
       'p28_5', 'p28_6', 'p28_7', 'p28_77', 'p28_77_cual', 'p29_1', 'p29_2',
       'p29_3', 'p29_4', 'p29_5', 'p29_6', 'p29_7', 'p29_77', 'p30', 'p31',
       'p32', 'p33', 'p33_cual', 'p34', 'p34_cual', 'p35', 'p35_cual', 'p36',
       'p37', 'p38', 'p39', 'p40_1', 'p40_2', 'p40_3', 'p40_4', 'p40_5',
       'p40_6', 'p40_7', 'p40_77', 'p40_77_cual', 'p41', 'p42', 'p43', 'p44'],
      dtype='object')

In [1773]:
#base_jardin["No. ID"] = base_jardin["No. ID"].astype('str')

In [1774]:
#base_jardin["No. ID"]= pd.to_numeric(base_jardin['No. ID'], errors = 'raise')

In [1775]:
#base_unida = base_unida.merge(base_jardin, left_on="NUMERODOCUMENTO", right_on= 'No. ID', how= 'outer' )

In [1776]:
#base_unida['Niños de jardín']= base_unida['Niños de jardín'].fillna(0)

In [1777]:
#base_unida["Niños de jardín"].value_counts()

0.0    150932
1.0       725
Name: Niños de jardín, dtype: int64

In [1662]:
len(base_unida)

151657

In [1663]:
#base_colegios.to_excel('Tabla colegio 29-10-2019.xlsx')

In [1778]:
base_unida.to_excel('Base Adaptada-29-10-2019.xlsx')

In [1779]:
len(base_colegios)

138473